.button{
    /* display: flex; */
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    font-size: 1.4em;
    font-weight: 100;
    color: black;
    outline:  1px solid #888;
    

}