{% extends 'base.html' %}
{% block head_title %}{% endblock head_title %}
{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome</h1>
    </div>
</div>
<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='GET' action='/create-tweets/'>{% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next'/>
            <!-- <textarea class='form-control' required='required' name='content' placeholder='Your Tweet ...'></textarea>  -->
            <select name="bd" id="bg">
                <option value="red">Hyderabad</option>
                <option value="green">Delhi</option>
            </select>
            <button class='btn btn-primary' onclick="location.href = '/allshows/'">Go</button>
             
        </form>
    </div>
</div>

<div id='movies' class='row'>
    
</div>

<script>
function movieDetailsPage(data){

}
function handleTweetFormError(msg,display){
    var myError=document.getElementById('tweet-create-form-error')
    
    if(display === true){
        //display error
        myError.setAttribute("class","d-block alert alert-danger")
        myError.innerText=msg
    }else{
        //hide error
        myError.setAttribute("class","d-none alert alert-danger")
    }

}
function handleTweetCreateForm(event){
    event.preventDefault()
    const myForm =event.target
    console.log("ppp",myForm)
    const myFormData= new FormData(myForm)
    console.log("lllll",myFormData)
    const url= myForm.getAttribute("action")
    const method=myForm.getAttribute("method")
    const responseType="json"
    const xhr=new XMLHttpRequest()
    xhr.open(method,url)
    xhr.responseType=responseType
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
    xhr.onload =function(){
        // console.log(xhr.status)
        if(xhr.status === 201)
        {
            handleTweetFormError("", false)
            const serverResponse=xhr.response
            const newTweetEle=formatTweet(serverResponse)
            // console.log(newTweetEle)
            tweetsContainerEle.innerHTML=newTweetEle+tweetsContainerEle.innerHTML
            myForm.reset()
            
        }else if(xhr.status === 400)
        {
           const jsonResponse =xhr.response
           const contentError=jsonResponse.content
           let contentErrorMessg;
        //    console.log(contentError)
           if (contentError){
            contentErrorMessg=contentError[0]
                if(contentErrorMessg){
                    handleTweetFormError(contentErrorMessg, true)
                }else{
                    alert("error occured please try again later")
                }
           }
           else{
               alert("An error occured please try again later")
           }
        //    console.log(jsonResponse)
        //    console.log(contentErrorMessg,contentError[0])
           
        }else if (xhr.status === 500)
        {
            alert("There was a server error")
        }else if(xhr.status=== 401)
        {
            alert("you must login !")
            window.location.href="/login"
        }
    }
    xhr.onerror = function(){
        alert("An error occured please try again later")
    }
    xhr.send(myFormData)
}

const createTweetForm=document.getElementById('tweet-create-form')
createTweetForm.addEventListener('submit',handleTweetCreateForm)

const ContainerEle = document.getElementById('movies')
// tweetsContainerEle.innerHTML="loading "
loadMovies(ContainerEle)


function loadMovies(ele){
    const xhr=new XMLHttpRequest()
    const method="GET"
    const url="/movielist"
    const responseType="json"
    xhr.responseType=responseType
    xhr.open(method,url)

    xhr.onload=function(){
        const serverResponse=xhr.response
        console.log('servhome',serverResponse)
        var listedItems=xhr.response
        console.log(';;',listedItems)
        var i;
        var movieData="";
        for (i=0;i<listedItems.length;i++)
        {
            listedItems[i]
            console.log(listedItems[i].moviename)
            data=formatMovies(listedItems[i])
            movieData=movieData+data
        }
        ele.innerHTML=movieData

    }
    xhr.send()

}
function formatMovies(movieObj)
{
    var formattedTweet= "<div class ='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet "+movieObj.moviename+"'><p>"+movieObj.moviecontext+"</p><img src='"+movieObj.imagename+"' height=100 width=200></div>"
    return formattedTweet 
}


function handleDidLike(tweetId,currentCount)
{
    console.log(tweetId,currentCount)
}
function likeButton(tweet)
{
    return "<button class='btn btn-primary' onclick=handleDidLike("+tweet.id+","+tweet.likes+")>"+tweet.likes+"Like</button>"
}
function formatTweet(tweet)
{   
    var formattedTweet= "<div class ='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet "+tweet.id+"'><p>"+tweet.content+"</p><div class='btn-group'>"+likeButton(tweet)+"</div></div>"
    return formattedTweet
}

</script>

{% endblock %}