.c , .container-3{
padding: 10px;
border: 1px solid blue;
width: 75%;
margin: 0 auto;
text-align: center;

}
.f img{

    box-shadow:0px 10px 50px rgb(10, 11, 15) ;

}
.f img:hover{
box-shadow:0px 10px 50px rgb(17, 37, 218) ;
}

.flex-box-rps{
    display:flex;
    padding: 10px;
    border: 1px solid blue;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}