.c , .container-3, .container-4{
    padding: 10px;
    border: 1px solid blue;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.f img{
    box-shadow:0px 10px 50px rgb(10, 11, 15) ;
}

.f img:hover{
    box-shadow:0px 10px 50px rgb(17, 37, 218) ;
}

.flex-box-rps , .flex-box-black-jack-row-1, .flex-box-black-jack-row-3 , .flex-box-black-jack-row-2{
    display:flex;
    padding: 10px;
    border: 1px solid blue;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}

.flex-box-black-jack-row-1 ,.flex-box-black-jack-row-2{
    background: url('https://media.istockphoto.com/photos/green-poker-background-picture-id453187915?k=6&m=453187915&s=612x612&w=0&h=kB43IY-gj4jbxw-_gxsXK11ar2kR8JJjxLX-aXTvjdQ=') center;
    color: #ffffff;
}

.flex-box-black-jack-row-1 div{
    border: 1px solid black;
    flex: 1;
    height: 350px;
    padding: 10px;
}

.flex-box-black-jack-row-2 div {
    border:1px solid black;
    padding: 10px;
}
.flex-box-black-jack-row-2 button{
    border:1px solid black;
}
table th,td{
    border: 2px solid blueviolet;
    padding: 5px;
}