.nav__bar{
    margin: 12px;
    background-color:#e3f2fd;
    font-weight: 50px;
    font-size: 20px;
    padding: 10px;
    
}

.nav__bar .category{
    flex-direction: row;
    padding : 8px;
    font-family:unset ;
    border: dotted;
    border-color: darkgreen
}
.link{
    color:black;
    text-decoration: none;
}
.cart_count{
    font-size: 15px;
}
.cart_icon{
    float: right;
}
.login_or_signup{
    float: right;
    font-size: 16px;
    padding: 5px;
    font-weight: 500;
    
}
button#dropdown-basic {
    position: fixed;
    left: 88%;
    top: 2%;
}
button#dropdown-basic span {
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
}