.nav__bar{
    margin: 12px;
    background-color:#e3f2fd;
    font-weight: 50px;
    font-size: 20px;
    padding: 10px;
    
}

.nav__bar .category{
    flex-direction: row;
    padding : 8px;
    font-family:unset ;
    color:black;
    border: dotted;
    border-color: darkgreen
}
.link{
    text-decoration: none;
}
.cart_count{
    font-size: 15px;
}
.cart_icon{
    float: right;
}