.btn  {
    width: 40px;
    background-color:white;
    position: absolute;
    margin-left: 2px;
}
.form-control{
    width: 300px;
}
.btn , .form-control{
    height: 40px;
    border-radius: 5px;
    border: none;
}
.input-group{
    block-size: 450px;
}
.edit_delete{
    float: right;
    
}
button{
    padding: 10px;
    margin: 10px;
}
