.login__page > button{
    margin: 20px;
    width: 100px;
    height: 50px;
    padding: 2px;
    background-color: lightpink;
    border-radius: 10px;
    border-width: 1px;
    color: black;
    font-size: medium;
    cursor: pointer;
    /* justify-content: space-around; */
}