/* div.womenwear_clothes h4{
    display: inline;
} */
p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.column{
    float: left;
    width: 20%;
    padding: 5px;
}
.column button{
    color: azure;
    background-color: darkred;
    display:block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-block-end: 10px;
    /* text-align:justify; */
    /* text-align: center; */   
}
