.errors{
    display: block;
    width: 20%;
    margin: 5px auto auto;
    line-height: 20px;
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
}
.first_name{

    display: inline-block;
    line-height: 10px;
}