body{
    text-align: center;
    
}
img.HomePage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    margin-block-end: 30px;
}
.Category{
    padding: 10px;
    margin-block-end: 10px;
}